body {
  display: grid;
  width: 90%;
  
  height: auto;
  grid-template-rows: 1fr 0.25fr 2.5fr .75fr 0.35fr;
  grid-template-columns: 1.5fr 4fr;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

.flex {
  display: flex;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: white;
  padding: 25px;
  font-size: 1.25rem;
}

a:hover {
  color: red;
}

h1 {
  width: 100%;
  font-size: 6rem;
  text-align: center;
  color: white;
  font-family: "Great Vibes", cursive;
  margin-bottom: 2rem;
}

h2 {
  text-align: center;
}
/*----------------HEADER--------------------*/
header {
  background-image: url(./images/home_768.jpg);
  background-size: cover;
  max-height: 800px;

  flex-direction: column;
  border: 1px solid black;
  grid-row: 1;
  grid-column: 1/5;

  align-items: center;
}

.banner {
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.banner img {
  height: 100px;
  width: auto;
  margin: 2rem;
}

nav {
  display: flex;
  width: 75%;

  align-items: center;
  column-gap: 2%;
}
/*------------------------ROW 2--------------------------*/
.sub_heading {
  display: flex;
  background-color: black;
  grid-row: 2;
  grid-column: 1/5;
  justify-content: center;
  align-items: center;
}

.sub_heading h2 {
  color: white;
}

/*-----------------ASIDE---------------*/
aside {
  flex-direction: column;
  grid-row: 3/4;
  grid-column: 1/2;
}

.house {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.house p {
  font-size: 0.75rem;
}

.house img {
  width: 300px;
}

/*-----------------------MAIN--------------*/
main {
  grid-row: 3/4;
  grid-column: 2/5;
}

.about {
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
}

.about_head {
  width: 100%;
  flex-direction: row;
}

.about_head img {
  width: 200px;
  height: 200px;
}



.main_title {
  width: 75%;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.main_title img {
  height: 4rem;
  margin-left: 2rem;
  align-self: center;
}
.main_title h2 {
  font-size: 3rem;
  font-family: "Great Vibes", cursive;
  margin-right: 2rem;
}

.about h4 {
  margin: 0;
}
.about p {
  font-size: 1rem;
}

/*-----------------------LOCAL--------------------*/
.local {
  grid-row: 4;
  grid-column: 1/5;
  border-top: 1px solid black;
}

.item1 h1 {
  font-family: "Great Vibes", cursive;
  color: black;
  margin-bottom: 25px;
  margin-top: 0;
  font-size: 4rem;
}

.item1 img {
  height: 300px;
}

.item2 p {
  padding: 50px;
  margin-top: 3.5rem;
}
/*---------------------FOOTER-----------------*/
footer {
  background-color: black;
  justify-content: space-around;
  align-items: center;
  grid-row: 5;
  grid-column: 1/5;
}

.footer-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.footer-links a {
  font-size: 1rem;
}

.logo img {
  height: 50px;
  width: auto;
}

.social-media {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.social-media h4 {
  color: white;
  font-size: 1.25rem;
  margin: 0;
}

.sm-links {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}

.social-icon {
  display: flex;
  flex-direction: row;
  width: 33%;
}

.social-icon img {
  height: 40px;
  width: 40px;
}
/*-----------------------END OF DESKTOP-----------*/
@media  (max-width: 1200) {
  .flex {
    padding: 1rem;
  }
  a {
    font-size: .75rem;
  }
.banner {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner img {
  height: 50px;
}

}

/*---------------------------TABLET----------------*/
@media (max-width: 769) {
  .banner {
    flex-direction: column;
  }
  .banner img {
    height: 50px;
    width: auto;
  }
  nav {
    width: 100%;
  }
}

/*---------------------------MOBILE----------------*/